body {
    background-color: aliceblue;
    font-family: Arial, sans-serif;
}

/* Title */
h1 {
    color: blueviolet;
    margin: 10px;
    font-size: 2.5em;
}

/* Sub title */
h2 {
    color: darkblue;
}

/* Normal Text */
p {
    color: blue;
    margin: 20px;
}

/* Section */
section {
    padding: 40px;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

h3 {
    margin-bottom: 20px;
    font-size: 1.8em;
    color: #4a90e2;
}

/* Form Container */
.form-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
}

/* Form Inputs */
.form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.form-container input:focus {
    border-color: #4a90e2;
    outline: none;
}

/* Submit Button */
.form-container button {
    width: 100%;
    padding: 10px;
    background: #4a90e2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.form-container button:hover {
    background: #357ABD;
}

/* Thank You Text */
#thankYouMessage {
    color: green;
    margin-top: 15px;
    font-weight: bold;
}
